.feed{
    width:50%;
    /* border: 1px solid rgb(255, 249, 249); */
    color: white;
    background-color: var(--bgcolor);
    border-radius: 7px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    overflow: auto;
    padding-top: 1vw;
    /* height: 44vw; */
    height: 100vh;
    
}
.feed::-webkit-scrollbar {
    width: 8px; /* Adjust as needed */
}

.feed::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (dragging handle) transparent */
}


@media screen and (max-width: 320px) {

    .feed{
        width: 100%;
    }
   
}
@media screen and (min-device-width: 320px) and (max-device-width: 375px) { 
  .feed{
    
  }
}
